@inherits LayoutComponentBase
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body';">
    <RadzenHeader>
        <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="0">
            <RadzenColumn Size="7">
                <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End"></RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </RadzenHeader>
    <RadzenBody Expanded="@sidebarExpanded" Style="width: 100%l justify-content:center">
        <div style="width: 100%; height: 110px; display: inline-flex; flex-direction: row; justify-content: center">
            <RadzenText Text="dankwms" Style="width: 403px; height: 114px; text-align: left; display: inline-block" TextStyle="Radzen.Blazor.TextStyle.DisplayH1" />
        </div>
        <RadzenRow class="rz-mx-auto rz-px-4 rz-pt-2 rz-pt-md-4 rz-pt-lg-6 rz-pt-xl-12 rz-pb-2 rz-pb-lg-12" Style="width: 80%; height: 118px; justify-content: center">
            <RadzenColumn Size="12" Style="width: 100%; position: relative; justify-content: center">
            @Body
            </RadzenColumn>
        </RadzenRow>
    </RadzenBody>
</RadzenLayout>
